
html {
    scroll-behavior: smooth;
}

footer p {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeebdd;
}

header {
    margin-bottom: 0 0 40px 20px;
    background-color: #ce1212; 
    color: white;
}

header h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
}

header h3 {
    padding: 0 0 10px 60px; 
}

header h3 span {
    font-weight: bold;
}

main {
    margin: 40px;
}

footer {
    margin-top: 20px;
}
